.cardStyles {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 15rem;
    align-items: center;
    margin: 5px;
}
.card-header {
    color: rgb(141, 140, 140);
    background-color: rgb(216, 213, 213);
    justify-content: center;
    width: 100%;
}
.card-footer{
    width: 100%;
}
.buttonContainerStyles {
    display:flex;
    justify-content: center;
}
#dog {
    color: white;
    background-color: rgb(80, 180, 105);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}
#cat {
    color: white;
    background-color: rgb(80, 163, 145);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}
#dino {
    color: white;
    background-color: rgb(151, 91, 185);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}
#all {
    color: white;
    background-color: rgb(145, 99, 124);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}
